<form class="row justify-content-center" *ngIf="formEditCustomer" [formGroup]="formEditCustomer" (ngSubmit)="edit()">

    <div class="col-4 m-4 p-2 my-form border border-1 border-secondary rounded">
      <h2 class="text-center">Register</h2>
       <div class="my-input">
         <label class="with-middle" for="name_customer">Họ tên: </label>
         <input formControlName="name" class="with-large" id="name_customer">
       </div>
      <div class="my-input">
        <label class="with-middle" for="birthday_customer">Ngày sinh: </label>
        <input type="date" formControlName="dateOfBirth" class="with-large" id="birthday_customer">
        <small class="text-danger"
               *ngIf="formEditCustomer.controls.dateOfBirth.touched && formEditCustomer.controls.dateOfBirth?.errors?.pattern">
          ngày sinh phải đúng định dạng ngày giờ theo format DD/MM/YYYY</small>
      </div>

      <div class="my-input">
        Giới tính:
        <input formControlName="gender" id="male" type="radio" name="gender" value="true">
        <label>Nam</label>
        <input formControlName="gender" id="female" type="radio" name="gender" value="false">
        <label>Nữ</label>
      </div>
      <div class="my-input">
        <label class="with-middle" for="id_card_customer">Số CMND: </label>
        <input formControlName="idCard" class="with-large" id="id_card_customer">
        <small class="text-danger" *ngIf="formEditCustomer.controls.idCard.touched && formEditCustomer.controls.idCard?.errors?.pattern">
        Số CMND phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9)</small>
      </div>

      <div>
        <label class="with-middle" for="phone_customer">Điện thoại: </label>
        <input formControlName="phone" class="with-large" id="phone_customer">
      </div>
      <div class="my-input">
        <label class="with-middle" for="email_customer">Email: </label>
        <input formControlName="email" class="with-large" id="email_customer">
        <small class="text-danger" *ngIf="formEditCustomer.controls.email.touched && formEditCustomer.controls.email?.errors?.pattern">
          Địa chỉ email phải đúng format</small>
      </div>

      <div class="float-end">
        <input class="btn btn-success m-2" type="submit" value="edit">
      </div>
    </div>
  </form>



