<div class="d-flex justify-content-center mt-5">
  <h3>Add New Customer</h3>
</div>
<div class="d-flex justify-content-center mt-5">
  <form [formGroup]="formAddCustomer" (ngSubmit)="submit()">
    <table class="table">
      <tr>
        <td>
          <label class="with-middle" for="idCustomer">Mã khách hàng: </label>
        </td>
        <td>
          <input formControlName="code" class="with-large" id="idCustomer">
        </td>
      </tr>
      <tr>
        <td>
          <small class="text-danger"
                 *ngIf="formAddCustomer.controls.code.touched && formAddCustomer.controls.code?.errors?.pattern">
            Mã khách hàng phải đúng định dạng là KH-XXXX (X là số từ 0-9)</small>
        </td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="name_customer">Họ tên: </label>
        </td>
        <td>
          <input formControlName="name" class="with-large" id="name_customer">
        </td>
      </tr>
      <tr>
        <td class="error" colspan="2"><p></p></td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="birthday_customer">Ngày sinh: </label>
        </td>
        <td>
          <input type="date" formControlName="dateOfBirth" class="with-large" id="birthday_customer">
        </td>
      </tr>
      <tr>
        <td>
          <small class="text-danger"
                 *ngIf="formAddCustomer.controls.dateOfBirth.touched && formAddCustomer.controls.dateOfBirth?.errors?.pattern">
            ngày sinh phải đúng định dạng ngày giờ theo format DD/MM/YYYY</small>`
        </td>
      </tr>
      <tr>
        <td class="with-middle">
          Giới tính:
        </td>
        <td>
          <input formControlName="gender" id="male" type="radio" name="gender" value="true">
          <label>Nam</label>
          <input formControlName="gender" id="female" type="radio" name="gender" value="false">
          <label>Nữ</label>
        </td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="id_card_customer">Số CMND: </label>
        </td>
        <td>
          <input formControlName="idCard" class="with-large" id="id_card_customer">
        </td>
      </tr>
      <tr>
        <td>
          <small class="text-danger"
                 *ngIf="formAddCustomer.controls.idCard.touched && formAddCustomer.controls.idCard?.errors?.pattern">
            Số CMND phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9)</small>
        </td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="phone_customer">Điện thoại: </label>
        </td>
        <td>
          <input formControlName="phoneNumber" class="with-large" id="phone_customer">
        </td>
      </tr>
      <tr>
        <td>
          <small class="text-danger"
                 *ngIf="formAddCustomer.controls.phoneNumber.touched && formAddCustomer.controls.phoneNumber?.errors?.pattern">
            Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx</small>
        </td>
      </tr>
      <tr>
        <td class="error" colspan="2"><p></p></td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="email_customer">Email: </label>
        </td>
        <td>
          <input formControlName="email" class="with-large" id="email_customer">
        </td>
      </tr>
      <tr>
        <td>
          <small class="text-danger"
                 *ngIf="formAddCustomer.controls.email.touched && formAddCustomer.controls.email?.errors?.pattern">
            Địa chỉ email phải đúng format</small>
        </td>
      </tr>
      <tr>
        <td class="error" colspan="2"><p></p></td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="customer_type_id">Loại khách</label>
        </td>
        <td>
          <select formControlName="customerType" class="with-large" id="customer_type_id">
            <option *ngFor="let c of customerTypeList" [ngValue]="c" >{{c.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="address_customer">Địa chỉ: </label>
        </td>
        <td>
          <input formControlName="address" class="with-large" id="address_customer">
        </td>
      </tr>
    </table>
    <input class="btn btn-success" type="submit" value="add">
  </form>
</div>
