<app-header></app-header>
<app-navigation></app-navigation>
<br>
<h1 class="row">
  <div class="col-lg-2">
    <a class="btn btn-success" routerLink="/customer/add">add</a>
  </div>

  <p class="col-lg-6">CustomerList</p>
</h1>
<table id="table">
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Customer Type</th>
    <th>Day Of Birth</th>
    <th>Gender</th>
    <th>Id Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th colspan="2"></th>
  </tr>
  <tr *ngFor="let customer of customerList | paginate: { itemsPerPage: 1, currentPage: p}; index as i;">
    <td>{{i}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.customerTypeId}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>
      <a class="btn btn-success" routerLink="/customer/edit/{{customer.id}}">edit</a>
    </td>
    <td>
      <button (click)="setInfoDelete(customer.id, customer.name)" type="button"
              class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
        Delete
      </button>
    </td>
  </tr>
</table>
<div class="page-control">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<br>
<br>
<br>
<app-footer></app-footer>

<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input hidden id="idDelete" name="idDelete">
        <span>Bạn có chắc chắn muốn xóa</span>
        <span class="text-danger" id="nameDelete">{{nameDelete}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>

