
<br>
<br>
<table id="table">
  <tr>
    <th>STT</th>
    <th>So xe</th>
    <th>Loai xe</th>
    <th>Ten nha xe</th>
    <th>Diem di</th>
    <th>Diem den</th>
    <th>So dien thoai</th>
    <th>Email</th>
    <th>Gio di</th>
    <th colspan="2">Action</th>
  </tr>
  <tr *ngFor="let car of carList; index as i">
    <td>{{i + 1}}</td>
    <td>{{car.licensePlates}}</td>
    <td>{{car.carType.name}}</td>
    <td>{{car.garage}}</td>
    <td>{{car.departure.name}}</td>
    <td>{{car.destination.name}}</td>
    <td>{{car.phone}}</td>
    <td>{{car.email}}</td>
    <td>{{car.arrivalTime}}</td>
    <td>
      <a class="btn btn-success" routerLink="/car/edit/{{car.id}}" >edit</a>
    </td>
    <td>
      <button (click)="setInfoDelete(car.licensePlates, car.id)" type="button"
              class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
        delete
      </button>
    </td>
  </tr>
</table>


<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input hidden id="idDelete" name="idDelete">
        <span>Bạn có chắc chắn muốn xóa xe co bien so la </span>
        <span class="text-danger" id="nameDelete">{{soXe}}</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="delete()" >Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="page-control">
</div>
<br>
<br>

