<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Facility</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="navbar_table.css">
    <style>
        body {
            background-color: rgba(0, 90, 0, 0.08);
        }
    </style>
</head>
<body>
<nav class="nav-color navbar navbar-expand-lg bg-body-tertiary nav-color p-2">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active a" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="#">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="#">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="#">Facility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="#">Contract</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle a" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item a" href="#">Action</a></li>
                        <li><a class="dropdown-item a" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider a">
                        </li>
                        <li><a class="dropdown-item a" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search" action="/customer" method="get">
                <input name="action" value="search" hidden>
                <input name="nameSearch" class="form-control me-2" type="search" placeholder="name..">
                <input name="emailSearch" class="form-control me-2" type="search" placeholder="email..">
                <select class="me-2" name="customerTypeId" type="select">
                    <option></option>
                    <option>All</option>
                    <option selected>Chọn loại khách hàng</option>
                </select>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="row justify-content-center d-flex">
    <div class="col-12 row d-flex justify-content-center">
        <div class="col-sm-3 mb-sm-0 m-4 p-0">
            <div class="card border border-primary">
                <img width="100%" height="250"
                     src="https://empire-s3-production.bobvila.com/pages/538/original/Bedroom.jpg?1310503752"
                     alt="...">
                <div class="card-body">
                    <div class="row">
                        <strong class="col-5">Name</strong>
                        <p class="col-7">Price</p>
                    </div>

                    <small class="card-text">Info ad to sdfdsdsdsf</small>
                    <div class="row pt-2 pb-0">
                        <div class="col-6  text-center">
                            <a class="w-50 a btn btn-success">Edit</a>
                        </div>
                        <div class="col-6  text-center pb-0">
                            <a class="w-50 a btn btn-success">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="col-sm-3 mb-sm-0 m-4 p-0">
            <div class="card border border-primary">
                <img width="100%" height="250"
                     src="https://empire-s3-production.bobvila.com/pages/538/original/Bedroom.jpg?1310503752"
                     alt="...">
                <div class="card-body">
                    <div class="row">
                        <strong class="col-5">Name</strong>
                        <p class="col-7">Price</p>
                    </div>

                    <small class="card-text">Info ad to sdfdsdsdsf</small>
                    <div class="row pt-2 pb-0">
                        <div class="col-6  text-center">
                            <a class="w-50 a btn btn-success">Edit</a>
                        </div>
                        <div class="col-6  text-center pb-0">
                            <a class="w-50 a btn btn-success">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="col-sm-3 mb-sm-0 m-4 p-0">
            <div class="card border border-primary">
                <img width="100%" height="250"
                     src="https://empire-s3-production.bobvila.com/pages/538/original/Bedroom.jpg?1310503752"
                     alt="...">
                <div class="card-body">
                    <div class="row">
                        <strong class="col-5">Name</strong>
                        <p class="col-7">Price</p>
                    </div>

                    <small class="card-text">Info ad to sdfdsdsdsf</small>
                    <div class="row pt-2 pb-0">
                        <div class="col-6  text-center">
                            <a class="w-50 a btn btn-success">Edit</a>
                        </div>
                        <div class="col-6  text-center pb-0">
                            <a class="w-50 a btn btn-success">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="col-sm-3 mb-sm-0 m-4 p-0">
            <div class="card border border-primary">
                <img width="100%" height="250"
                     src="https://empire-s3-production.bobvila.com/pages/538/original/Bedroom.jpg?1310503752"
                     alt="...">
                <div class="card-body">
                    <div class="row">
                        <strong class="col-5">Name</strong>
                        <p class="col-7">Price</p>
                    </div>

                    <small class="card-text">Info ad to sdfdsdsdsf</small>
                    <div class="row pt-2 pb-0">
                        <div class="col-6  text-center">
                            <a class="w-50 a btn btn-success">Edit</a>
                        </div>
                        <div class="col-6  text-center pb-0">
                            <a class="w-50 a btn btn-success">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div class="col-sm-3 mb-sm-0 m-4 p-0">
            <div class="card border border-primary">
                <img width="100%" height="250"
                     src="https://empire-s3-production.bobvila.com/pages/538/original/Bedroom.jpg?1310503752"
                     alt="...">
                <div class="card-body">
                    <div class="row">
                        <strong class="col-5">Name</strong>
                        <p class="col-7">Price</p>
                    </div>

                    <small class="card-text">Info ad to sdfdsdsdsf</small>
                    <div class="row pt-2 pb-0">
                        <div class="col-6  text-center">
                            <a class="w-50 a btn btn-success">Edit</a>
                        </div>
                        <div class="col-6  text-center pb-0">
                            <a class="w-50 a btn btn-success">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</html>