<h1><a class="btn btn-success" href="/contract/showAdd">add</a></h1>
<span></span>
<table id="table">
  <tr>
    <th>Dịch vụ</th>
    <th>Khách hàng</th>
    <th>Ngày bắt đầu</th>
    <th>Ngày kết thúc</th>
    <th>Tiền đặt cọc</th>
    <th>Tổng tiền</th>
    <th>Các dịch vụ đi kèm</th>
  </tr>
  <tr *ngFor="let contract of contractList; index as i;">
    <td>{{contract.facilityName}}</td>
    <td>{{contract.customerName}}</td>
    <td>{{contract.startDate}}</td>
    <td>{{contract.endDate}}</td>
    <td>{{contract.deposit}}</td>
    <td></td>
    <td>
      <button type="button" data-bs-toggle="modal" data-bs-target="#addAttachFacility" class="btn btn-success">
        +
      </button>
      <span class="dropdown">
                <button type="button" data-bs-toggle="modal" data-bs-target="#showListAttachFacility"
                        class="btn btn-success">
                    Danh sách các dịch vụ đi kèm
                </button>
            </span>
    </td>
  </tr>
</table>
<div class="page-control">
  <a class="text-decoration-none button">
    Previous
  </a>

  <span></span>/<span></span>

  <a class="text-decoration-none button">
    Next
  </a>
</div>
