<div class="d-flex justify-content-center mt-5">
  <h3>Add New Contract</h3>
</div>
<div class="d-flex justify-content-center mt-5">
  <form [formGroup]="formAddContract" >
    <table class="table">
      <tr>
        <td>
          <label class="with-middle" for="startDate">Ngày bắt đầu: </label>
        </td>
        <td>
          <input formControlName="startDate" class="with-large " id="startDate" >
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddContract.controls.startDate.touched && formAddContract.controls.startDate?.errors?.pattern">Ngày tháng phải đúng định dạng DD/MM/YYYY</small>
        </td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="endDate">Ngày kết thúc: </label>
        </td>
        <td>
          <input formControlName="endDate" class="with-large" id="endDate">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddContract.controls.endDate.touched && formAddContract.controls.endDate?.errors?.pattern">Ngày tháng phải đúng định dạng DD/MM/YYYY</small>
        </td>
      </tr>
      <tr>
        <td>
          <label class="with-middle" for="deposit">Tiền gửi: </label>
        </td>
        <td>
          <input formControlName="deposit" class="with-large" id="deposit" >
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddContract.controls.deposit.touched && formAddContract.controls.deposit?.errors?.min">Tiền gửi phải là số nguyên dương</small>
        </td>
      </tr>
      <tr>
        <td>
          Dịch vụ:
        </td>
        <td>
          <select formControlName="facilityName" onchange="setTotalMoneyAdd()" id="facilityId" >
            <option ></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Nhân viên:
        </td>
        <td>
          <select formControlName="employeeName">
            <option ></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Khách hàng thuê dịch vụ:
        </td>
        <td>
          <select  formControlName="customerName">
            <option ></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Dịch vụ đính kèm</td>
        <td>
          <button type="button" class="btn btn-success"
                  data-bs-toggle="modal"
                  data-bs-target="#addAttachFacility">
            +
          </button>
          <div id="container">

          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a class="btn btn-secondary">Hủy bỏ</a>
        </td>
        <td>
          <button class="btn btn-success" type="submit">Tạo hợp đồng</button>
        </td>
      </tr>
    </table>
  </form>
</div>
