<h1>Danh sánh sản phẩm</h1>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Sửa đổi</td>
    <td>Xóa</td>
  </tr>
  <tr *ngFor="let product of products; index as i;">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><button routerLink="/product/update/{{product.id}}">update</button></td>
    <td><button routerLink="/product/delete/{{product.id}}">delete</button></td>
  </tr>
</table>
