<h1 class="row">
  <div class="col-lg-2">
    <a class="btn btn-success" href="/customer/showAdd">add</a>
  </div>

  <p class="col-lg-6" >CustomerList</p>
</h1>
<table id="table">
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Customer Type</th>
    <th>Day Of Birth</th>
    <th>Gender</th>
    <th>Id Card</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th colspan="2"></th>
  </tr>
  <tr *ngFor="let customer of customerList; index as i;">
    <td>{{i}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.customerTypeId}}</td>
    <td>{{customer.dateOfBirth}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.idCard}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.address}}</td>
    <td>
      <a class="btn btn-success" >update</a>
    </td>
    <td>
      <button  type="button"
               class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
        Delete
      </button>
    </td>
  </tr>
</table>
<div class="page-control">
  <a class="text-decoration-none button" >
    Previous
  </a>

  <span></span>

  <a class="text-decoration-none button">
    Next
  </a>
</div>
