<div class="d-flex justify-content-center mt-5">
  <h3>Add new facility</h3>
</div>

<div class="d-flex justify-content-center mt-5">
  <form [formGroup]="formAddFacility" >
    <table class="table" >
      <tr>
        <td>
          <label>Loại dịch vụ: </label>
        </td>
        <td>
          <select formControlName="facilityType" id="facilityType" >
            <option></option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.facilityType.touched && formAddFacility.controls.facilityType?.errors?.required">thông tin này không thể để trống</small>
        </td>
      </tr>
      <tr>
        <td>
          <label for="name_villa">name: </label>
        </td>
        <td>
          <input formControlName="name" id="name_villa" type="text" name="name_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.name.touched && formAddFacility.controls.name?.errors?.required">thông tin này không thể để trống</small>
          <small *ngIf="formAddFacility.controls.name.touched && formAddFacility.controls.name?.errors?.pattern">tên dịch vụ không được chứa số</small>
        </td>
      </tr>
      <tr>
        <td class="error" colspan="2" ></td>
      </tr>
      <tr>
        <td>
          <label for="area_villa">Diện tích sử dụng: </label>
        </td>
        <td>
          <input formControlName="area"  id="area_villa" type="text" name="area_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.area.touched && formAddFacility.controls.area?.errors?.required">thông tin này không thể để trống</small>
        </td>
      </tr>
      <tr>
        <td>
          <label for="cost_villa">Chi phí thuê: </label>
        </td>
        <td>
          <input formControlName="cost" id="cost_villa" type="text" name="cost_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.cost.touched && formAddFacility.controls.cost?.errors?.required">thông tin này không thể để trống</small>
        </td>
      </tr>
      <tr>
        <td>
          <label for="maxPeople">Số lượng người tối đa: </label>
        </td>
        <td>
          <input formControlName="maxPeople" id="maxPeople" type="text" name="max_people_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.maxPeople.touched && formAddFacility.controls.maxPeople?.errors?.required">thông tin này không thể để trống</small>
        </td>
      </tr>
      <tr>
        <td>
          <label for="rentType">Kiểu thuê: </label>
        </td>
        <td>
          <select formControlName="rentType"  id="rentType" name="rent_type_id_villa">
            <option ></option>
          </select>
        </td>
      </tr>
      <tr id="st">
        <td>
          <label for="standardRoom">Tiêu chuẩn phòng: </label>
        </td>
        <td>
          <input formControlName="standardRoom" id="standardRoom" type="text" name="standard_room_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.standardRoom.touched && formAddFacility.controls.standardRoom?.errors?.required">thông tin này không thể để trống</small>
        </td>
      </tr>
      <tr id="doc">
        <td>
          <label for="descriptionOtherConvenience">Mô tả tiện nghi khác: </label>
        </td>
        <td>
          <input formControlName="descriptionOtherConvenience" id="descriptionOtherConvenience" type="text"
                 name="descriptionOtherConvenience">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.descriptionOtherConvenience.touched && formAddFacility.controls.descriptionOtherConvenience?.errors?.required">thông tin này không thể để trống</small>
        </td>
      </tr>
      <tr id="pa">
        <td>
          <label for="poolArea">Diện tích hồ bơi: </label>
        </td>
        <td>
          <input formControlName="poolArea" id="poolArea" type="text" name="pool_area_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.poolArea.touched && formAddFacility.controls.poolArea?.errors?.required">thông tin này không thể để trống</small>
          <small *ngIf="formAddFacility.controls.poolArea.touched && formAddFacility.controls.poolArea?.errors?.min">diện tích hồ bơi phải là số nguyên dương</small>
        </td>
      </tr>
      <tr id="nof">
        <td>
          <label for="numberOfFloor">Số tầng: </label>
        </td>
        <td>
          <input formControlName="numberOfFloor"  id="numberOfFloor" type="text" name="number_of_floors_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.numberOfFloor.touched && formAddFacility.controls.numberOfFloor?.errors?.required">thông tin này không thể để trống</small>
          <small *ngIf="formAddFacility.controls.numberOfFloor.touched && formAddFacility.controls.numberOfFloor?.errors?.min">số tầng phải là số nguyên dương</small>
        </td>
      </tr>
      <tr>
        <td class="error" colspan="2" ></td>
      </tr>
      <tr  id="ff">
        <td>
          <label for="facilityFree">Dịch vụ miễn phí đi kèm: </label>
        </td>
        <td>
          <input formControlName="facilityFree"  id="facilityFree" type="text"
                  name="number_of_floors_villa">
        </td>
      </tr>
      <tr>
        <td>
          <small *ngIf="formAddFacility.controls.facilityFree.touched && formAddFacility.controls.facilityFree?.errors?.required">thông tin này không thể để trống</small>
        </td>
      </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Add">
  </form>
</div>
